### Add tabel to SQL

In [ ]:
import pandas as pd
df = pd.read_csv(r"D:\comments_labeled (1).csv")
df.head()

In [13]:
df.shape

(1166, 14)

In [ ]:
from sqlalchemy import create_engine
# Database name: Tweet
engine = create_engine('postgresql://postgres:iloveyou044@localhost:5432/Tweet')
df.to_sql('comments', engine, if_exists='replace', index=False)

## Append new data

In [2]:
import pandas as pd

In [11]:
df1 = pd.read_csv(r"D:\add.csv")
df1 = df1.rename(columns={'sentiment': 'Sentiment'})
df1.shape

(83, 14)

In [12]:
# Get the first 20 rows of the DataFrame df
df1 = df1.tail(20)

# Print the shape of the DataFrames df and df1
print("Shape of df:", df1.shape)
print("Shape of df1:", df1.shape)

Shape of df: (20, 14)
Shape of df1: (20, 14)

In [14]:
from sqlalchemy import create_engine

# Connect to PostgreSQL via SQLAlchemy
engine = create_engine('postgresql+psycopg2://postgres:iloveyou044@localhost:5432/Tweet')

# Add DataFrame to the table (you can change the behavior if the table already exists)
df1.to_sql('comments', engine, if_exists='append', index=False)

print("Data has been successfully added to the table.")

Data has been successfully added to the table.